* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.mainBox {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  width: 690px;
}

#main-container {
  width: max-content;
  height: max-content;
  display: flex;
  border: 5px solid rgb(138, 138, 138);
  margin: 16px;
}
.square {
  padding: 8px;
  border: 1px solid rgba(0, 0, 0, 0.014);
  aspect-ratio: 1 / 1;
}
button {
  margin-left: 540px;
  padding: 10px 300px 10px 300px;
  border: none;
  border-radius: 10px;
}
